@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 800px) {
  html {
    overflow: hidden;
  } 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Makes text more readable when selected */
::selection {
  background: rgb(20 74 169 / 35%);
}

/* Firefox */
::-moz-selection {
  background: rgb(20 74 169 / 35%);
}

/* Safari */
::-webkit-selection {
  background: rgb(20 74 169 / 35%);
}

